.nav {
    display: flex;
    gap: 10px;
  }

  
  .link {
    color: black;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
    color: #ec2676;
  }
  
  .active {
    color: #ec2676;
  }

  .borderLine {
    margin-top: 10px;
    width: 100%;
    height: 4px;
    background: linear-gradient(rgb(100, 100, 100), rgb(247, 245, 245));
  }
  