.header {
    min-width:1240px;
    width: 100%;
    background-color:rgb(33, 20, 95);
    margin: 0px auto;
    text-align: center;
    padding: 10px 0px;
}

.barInput{
    height: 30px;
    min-width: 300px;
}

.searchBut{
    margin-left: 7px;
}